<nav class="navbar">
	<div class="logo">
        Syncar
        <!-- <a
            class="settings-icon"
            href="../settings/settings.html"
            target="_blank"
            rel="noopener noreferrer"
            title="Settings"
        >
            <i class="fas fa-cog"></i>
        </a> -->
    </div>
	<ul class="nav-links">
		<li id="nav-cart">
			<a href="../cart/cart.html"
				><i class="fas fa-shopping-cart"></i> عربة التسوق</a
			>
		</li>
		<li id="nav-whatsapp">
			<a href="../chatter/chatter.html"
				><i class="fab fa-whatsapp"></i> واتساب</a
			>
		</li>
		<li id="nav-telegram">
			<a href="../telegram/telegram.html"
				><i class="fab fa-telegram-plane"></i> تيليجرام</a
			>
		</li>
	</ul>
</nav>
